.menu_rowL {
  border-bottom: solid lightgray 1px;
  
  max-width: 100%;
  margin: 0 10px 0 30px;
  padding: 5px 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu_groupL {
}

.submenu_groupL {}

.defaultLogoCSSClassesL {
  cursor: pointer;
  padding: 5px;
}



