.menu {
  display: none;

}

/* .isMenuVisible {
  display: flex;
}
.isMenuInvisible {
  display: none;
} */

@media screen and (min-width: 1024px) {
  .menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}